@font-face {
  font-family: 'FontalLobe';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontal_Lobe_Regular.woff') format('woff');
}

@font-face {
  font-family: 'FontalLobe-0';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontal-Lobe-Regular-0.woff') format('woff');
}

@font-face {
  font-family: 'FontalLobe-1';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontal-Lobe-Regular-1.woff') format('woff');
}

@font-face {
  font-family: 'FontalLobe-2';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fontal-Lobe-Regular-2.woff') format('woff');
}

body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #64a1f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  color: white;
  font-family: "FontalLobe-0", "FontalLobe-1", "FontalLobe-2", sans-serif;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 54px;
  outline: none;
}
span {
  font-family: "FontalLobe-1", sans-serif;
}

p.empty {
  font-family: "FontalLobe-2", sans-serif;
}